.botao {
    background-color: #6278f7;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
    padding: 24px;
    cursor: pointer;
    margin: 2rem 0;
    color: #FFF;
}

.botao:hover {
    color: #95ffd4;
    transition: 1s;
}
