.campo-texto {
    margin: 24px 0;
}

.campo-texto label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.campo-texto input {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 06);
    border: none;
    box-sizing: border-box;
    font-size: 24px;
    padding: 24px;
    width: 100%;
    
}